<!DOCTYPE html>
<html lang="en" >
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> {% block title %} FERMO {% endblock %} </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="d-flex flex-column vh-100">
    {% block header%}
      <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary p-1">
          <div class="container-fluid px-5" style="font-size: 18px;">
            <a class="navbar-brand" href="{{ url_for('routes.index') }}">
              <img src="{{ url_for('static', filename='/images/Fermo_logo.svg') }}"
                   alt="FERMO logo" width="150" height="40">
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('routes.start_analysis') }}">Start Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('routes.load_session') }}">Load Session</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('routes.task_result', job_id='example') }}">Example</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('routes.about') }}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('routes.contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://mmzdouc.github.io/fermo_docs/" target="_blank">Help</a>
                </li>
              </ul>
              <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/mmzdouc/fermo" target="_blank"
                     rel="noopener" aria-label="GitHub">
                    <img src="{{ url_for('static', filename='/images/github.svg') }}" alt="GitHub">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {% endblock %}
    {% block content %}
      <main>
        The content was not populated
      </main>
    {% endblock %}
    {% block footer %}
      <footer class="container-fluid bg-light text-muted py-3 border-top">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-column h-100 text-center">
              <div class="mt-auto px-5">
                <h6 class="text-uppercase fw-bold mb-1">Fermo v{{version}}</h6>
                <p class="mb-0">© 2022 - present Mitja M. Zdouc <a class="text-decoration-none" style="color: #116789" target="_blank" href="{{ url_for('routes.about') }}">et al.</a> under the <a rel="license" href="https://opensource.org/license/mit/" class="text-decoration-none" style="color: #116789" target="_blank">MIT License.</a> If you have found this software useful, please <a rel="cite" href="https://doi.org/10.1101/2022.12.21.521422" class="text-decoration-none" style="color: #116789" target="_blank">cite us.</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
    {% block scripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    {% endblock %}
  </body>
</html>