{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="mx-4">
        <div class="container-fluid">
            <div class="row my-4 d-flex align-items-center">
                <div class="col-auto"><h1 class="fw-semibold lh-2">Job failed</h1></div>
            </div>
            <p class="lead mb-3">The job with the ID <b>'{{ data.get("task_id") }}'</b> failed.</p>
            <p class="lead mb-3">For more details, see the log below:</p>
      </div>
    </div>
    <div class="mx-4">
        <div class="container-fluid">
            <textarea class="form-control code-box" style="height: 400px; overflow-y: scroll;" readonly>
                {% if data.log %}
                    {% for entry in data.log %}
                        {{ entry }}
                    {% endfor %}
                {% else %}
                    <p>No log entries available.</p>
                {% endif %}
            </textarea>
        </div>
    </div>
</div>
{% endblock %}