{% extends 'base.html' %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <div class="container mt-5">
    <div class="mx-4">
      <div class="container-fluid">
        <div class="row my-2 d-flex align-items-center">
          <div class="col-auto"><h1 class="fw-semibold lh-2">Load Session</h1></div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="border p-4 my-2">
          <div style="color: red" class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Error during input validation</h3></div>
            </div>
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto">
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
               </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div class="mx-4 my-2">
      <div class="container-fluid">
        <div class="row my-4 d-flex align-items-center">
          <div class="col-auto">
            <p class="lead my-1">Reload your previously created <i>FERMO</i> job.</p>
            <p class="lead my-1">You can also upload a previously downloaded <i>FERMO</i> session.json file.</p>
          </div>
        </div>
      </div>
    </div>
		<form method="post" action="{{ url_for('routes.load_session') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="border p-4 my-2">
          <fieldset id="reload-existing-job-form">
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h3>Load Existing Job</h3></div>
              </div>
            </div>
            <hr>
            <div class="reloadjob-field">
              {{ render_field(form.reload_existing_jobid) }}
            </div>
          </fieldset>
        </div>
      <div class="border p-4 my-2">
        <fieldset id="session-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Session File Upload</h3></div>
            </div>
          </div>
          <hr>
          <div class="session-field">
            {{ render_field(form.session_file) }}
          </div>
        </fieldset>
      </div>
      <fieldset class="p-4 my-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-auto mx-auto">
              <button type="submit" class="btn btn-primary">Load Session</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}