{% extends 'base.html' %}

{% block content %}
  {% from "_formhelpers.html" import render_field, render_help, render_activate_toggle %}
  <div class="container mt-5">
    <div class="container-fluid">
      <div class="row my-2 d-flex align-items-center">
        <div class="col-auto">
          {% if jobload %}
            <h1 class="mt-1 mb-3 fw-semibold d-flex justify-content-center">Start analysis</h1>
            <p class="main-text">Upload your data, set your preferred parameters, and you are good to go!
            You can also reload the parameter settings of your previous job and use them to run a new analysis.</p>
          {% else %}
            <h1 class="lh-2">Loaded parameters of job ID: {{ job_id }}</h1>
            <p class="main-text">Adjust any parameters and select the "start analysis" button to visualize the results.</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if online %}
      <div class="mx-4 my-2">
        <div class="alert alert-light" role="alert">
          <div class="row">
            <div class="col-8">
              <h1 class="alert-heading" style="font-size: 1.4em;">Attention Online Users!</h1>
            </div>
            <div class="col-4">
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <p><i>FERMO</i> is still in <b>early access</b>,
            and we have a daily maintenance window from <b>6 AM to 8 AM CEST</b>.<br/>
            Please note that jobs initiated during this period may not complete successfully.
            Thank you for your understanding.</p>
          <hr>
          <p class="mb-0">Further, the <b>online version of <i>FERMO</i></b> has a few <b>restrictions</b>
            due to computational restrains:</p>
          <ul class="lh-base my-2">
            <li><p>A file size limit of <b>7 MB</b>, with a maximum of <b>3000</b> molecular features in the peaktable.</p></li>
            <li><p>A maximum total job run time of <b>60 minutes</b>, and a maximum module run time of <b>15 minutes</b>.</p></li>
            <li><p>The maximum job storage time is limited to <b>30 days</b>. Make sure to <b>download</b> your results!</p></li>
          </ul>
          <p>To bypass these restrictions, you can install
            <a href="https://mmzdouc.github.io/fermo_docs/home/gui.installation/" target="_blank" style="color: #6D757D; text-decoration: underline;"><b><i>FERMO</i> offline</b></a>.</p>
        </div>
      </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="border p-4 my-2">
          <div style="color: red" class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Error during input validation</h3></div>
            </div>
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto">
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
               </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% if jobload %}
      <form method="post" action="{{ url_for('routes.start_analysis') }}" enctype="multipart/form-data"></form>
    {% else %}
      <form method="post" action="{{ url_for('routes.load_settings', job_id=job_id) }}" enctype="multipart/form-data"></form>
    {% endif %}

    {{ form.hidden_tag() }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 justify-content-center text-center">
          <h1 class="mt-1 mb-4 fw-semibold" style="font-size: 1.3em;">
            Select one of the following options to start your <i>FERMO</i> analysis:</h1>
          <div class="btn-group gap-2 col-12" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="reload" autocomplete="off">
            <label class="btn btn-outline-secondary p-2" for="reload">Reload settings of previous session</label>

            <input type="radio" class="btn-check" name="btnradio" id="startAnalysis" autocomplete="off">
            <label class="btn btn-outline-secondary p-2" for="startAnalysis">Start new analysis</label>

            <input type="radio" class="btn-check" name="btnradio" id="load" autocomplete="off">
            <label class="btn btn-outline-secondary p-2" for="load">Load results of previous session</label>
          </div>
        </div>
      </div>

      <div id="reload-content" class="d-none">
        <div class="border start_box">
          <fieldset id="reloadjob-form">
            <div class="reloadjob-field m-3">
              <h1 class="mt-1 mb-3" style="font-size: 1.4em;">Load parameters</h1>
              <p>{{ form.reload_jobid.description }}</p>
              <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="col-5">
                    <label class="form-label fw-semibold" style="font-size: 0.8rem">
                        {{ form.reload_jobid.label }}
                        {{ render_help("https://mmzdouc.github.io/fermo_docs/home/gui.start/#load-parameters") }}
                    </label>
                    {{ form.reload_jobid(class_="form-control", id="reloadJobs") }}
                  </div>
                  <div class="col-2 mx-3 mt-4">
                    <button type="submit" class="btn btn-primary btn-sm">Load Job Parameters</button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div id="startAnalysis-content" class="d-none">
        <div class="border start_box">
          <fieldset id="peaktable-form">
            <div class="peaktable-field m-3">
              <h1 class="mt-1 mb-4" style="font-size: 1.4em;">Provide the peaktable
                {{ render_help("https://mmzdouc.github.io/fermo_docs/home/gui.start/#peaktable") }}</h1>
              <div class="mb-3 col-6">
                <label class="form-label ms-1">{{ form.peaktable_file.description }}
                  {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#molecular-feature-peaktable") }}</label>
                {{ form.peaktable_file(class_="form-control form-control-sm", id="peaktable_file", onchange="checkFileExtensionPeaks()") }}
              </div>
              <div id="alert-container-peaks"></div>
              <div class="row mt-5">
                <div class="col-4">
                  <label class="form-label ms-1">{{ form.peaktable_format.description }}</label>
                  <select class="form-select" aria-label="peaktable_format">
                    {% for FormatOption in form.peaktable_format.choices %}
                      <option value="{{ FormatOption[0] }}" selected>{{ FormatOption[0] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-4">
                  <label class="form-label ms-1">{{ form.peaktable_polarity.description }}</label>
                  <select class="form-select" aria-label="peaktable_polarity">
                    {% for FormatOption in form.peaktable_polarity.choices %}
                      <option value="{{ FormatOption[0] }}" selected>{{ FormatOption[0] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-4">
                  <label class="form-label ms-1">{{ form.peaktable_ppm.description }}</label>
                  <input type="number" id="peaktable_ppm" name="peaktable_ppm" class="form-control" min="0" value="10"
                         step="0.5" style="height: 31px; color: grey; font-size: 12px;" />
                </div>
              </div>
              <div class="row mt-5">
                <div class="d-flex align-items-center">
                  <div class="col-6">
                    <div class="row ms-1">
                      <div class="col-1 mt-1">
                        {{ render_activate_toggle(form.peaktable_adduct_toggle) }}
                      </div>
                      <div class="col-6">
                        <h1 class="mt-1 mb-3" style="font-size: 1.4em;">Adduct annotation module
                        {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.adduct/") }}</h1>
                      </div>
                    </div>
                    <div class="row ms-1">
                      <div class="col-1 mt-1">
                        <div style="transform: scale(1.1);" class="form-check form-switch" onclick="toggleDisplay('.peaktable-filter')">
                          {{ form.peaktable_filter_toggle(class_='form-check-input') }}
                        </div>
                      </div>
                      <div class="col-6">
                        <h1 class="mt-1 mb-3" style="font-size: 1.4em;">Feature Filter Module
                          {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/filter.feature/") }}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="peaktable-filter d-none">
                <div class="border start_box">
                  <div class="row">
                    <div class="col-6">
                      <h3 class="mt-2" style="font-size: 1.3em">
                        Feature filter parameters
                      </h3>
                    </div>
                    <div class="col-6">
                      <button class="accordion-button-info mt-2 float-end" type="button" data-bs-toggle="collapse"
                              data-bs-target="#more-info" aria-expanded="true" aria-controls="more-info"></button>
                    </div>
                  </div>
                  <div id="more-info" class="collapse show">
                    <div class="container-fluid">
                      <div class="row">
                        <h3 class="mt-2" style="font-size: 1.2em">Filter height</h3>
                        <label class="form-label">{{ form.peaktable_filter_height_upper.description }}</label>
                        <div class="row">
                          <div class="slidecontainer pt-0">
                            <div class="range-inputs float-start my-0 mt-2">
                              <p class="mt-1 ps-2 pe-4">min:</p>
                              <input type="number" id="peaktable_filter_height_lower"
                                       name="peaktable_filter_height_lower"
                                       min="0.00" max="1.00" value="0.01"
                                       class="form-control form-icon-trailing"
                                       step="0.01"
                                       style="height: 32px; color: grey; font-size: 12px; width: 8rem;" />
                              <p class="mt-1 px-4">max:</p>
                              <input type="number" id="peaktable_filter_height_upper"
                                       name="peaktable_filter_height_upper"
                                       min="0.00" max="1.00" value="1.00"
                                       class="form-control form-icon-trailing"
                                       step="0.01"
                                       style="height: 32px; color: grey; font-size: 12px; width: 8rem;" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container-fluid">
                      <div class="row">
                        <h3 class="mt-2" style="font-size: 1.2em">Filter Area</h3>
                        <label class="form-label">{{ form.peaktable_filter_area_upper.description }}</label>
                        <div class="row">
                          <div class="slidecontainer pt-0">
                            <div class="range-inputs float-start my-0 mt-2">
                              <p class="mt-1 ps-2 pe-4">min:</p>
                              <input type="number" id="peaktable_filter_area_lower"
                                       name="peaktable_filter_area_lower"
                                       min="0.00" max="1.00" value="0.01"
                                       class="form-control form-icon-trailing"
                                       step="0.01"
                                       style="height: 32px; color: grey; font-size: 12px; width: 8rem;" />
                              <p class="mt-1 px-4">max:</p>
                              <input type="number" id="peaktable_filter_area_upper"
                                       name="peaktable_filter_area_upper"
                                       min="0.00" max="1.00" value="1.00"
                                       class="form-control form-icon-trailing"
                                       step="0.01"
                                       style="height: 32px; color: grey; font-size: 12px; width: 8rem;" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="border start_box">
          <fieldset id="msms-form">
            <div class="msms-field m-3">
              <div class="row">
                <div class="col-6">
                  <h1 class="mt-1 mb-4" style="font-size: 1.4em;">MS/MS processing
                    {{ render_help("https://mmzdouc.github.io/fermo_docs/home/gui.start/#msms") }}</h1>
                </div>
                <div class="col-6">
                  <button class="accordion-button-info-l collapsed mt-2 float-end" type="button" data-bs-toggle="collapse"
                          data-bs-target="#msms-info" aria-expanded="false" aria-controls="msms-info"></button>
                </div>
              </div>
              <div id="msms-info" class="collapse">
                <div class="container-fluid">
                  <div class="border start_box">
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label ms-1">{{ form.msms_file.description }}
                          {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#msms-spectrum-information") }}</label>
                        {{ form.msms_file(class_="form-control form-control-sm", id="msms_file", onchange="checkFileExtensionMsms()") }}
                      </div>
                      <div id="alert-container-msms"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div id="load-content" class="d-none">
        <!-- Your content for load results of previous session -->
      </div>
    </div>

    {% if jobload %}

    {% endif %}
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/start_analysis.js') }}"></script>
{% endblock %}