{% extends 'base.html' %}

{% block content %}
  {% from "_formhelpers.html" import render_field, render_help, render_activate_toggle %}
  <div class="container mt-5">
    {% if jobload %}
      <div class="mx-4">
        <div class="container-fluid">
          <div class="row my-2 d-flex align-items-center">
            <div class="col-auto"><h1 class="fw-semibold lh-2">Start new analysis</h1></div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="mx-4">
        <div class="container-fluid">
          <div class="row my-2 d-flex align-items-center">
            <div class="col-auto"><h1 class="fw-semibold lh-2">Start new analysis</h1></div>
          </div>
          <div class="row my-2 d-flex align-items-center">
            <div class="col-auto"><h3>Loaded parameters of job ID: {{ job_id }}</h3></div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="mx-4 my-2">
      <div class="container-fluid">
        <div class="row my-2 d-flex align-items-center">
          <div class="col-auto">
            <p class="lead my-1">Upload your data, set your preferred parameters, and you are good to go!</p>
            <p class="lead my-1">You can also reload the parameter settings of your previous job and use them to run the new analysis.</p>
          </div>
        </div>
      </div>
    </div>
    {% if online %}
      <div class="p-4">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Heads Up Online Users!</h3></div>
            </div>
          </div>
          <hr>
          <div class="row my-2 d-flex align-items-center">
            <div class="col-auto">
              <p class="lh-base">Due to computational restrains, the <b>online version of FERMO</b> has a few <b>restrictions</b> in place:</p>
              <ul class="lh-base">
                <li><p class="lh-sm"><b>File sizes:</b> the maximum accepted size of file uploads is <b>7 MB</b>.</p></li>
                <li><p class="lh-sm"><b>Feature table:</b> the maximum allowed number of molecular features is <b>1000</b>.</p></li>
                <li><p class="lh-sm"><b>Job run time:</b> the maximum allowed run time for a single job is <b>60 minutes</b>, after which the job terminates prematurely.</p></li>
                <li><p class="lh-sm"><b>Module run time:</b> the maximum allowed run time for a single module is <b>10 minutes</b>. If a module terminates due to a timeout, this is written to the summary.txt file.</p></li>
                <li><p class="lh-sm"><b>Job storage:</b> all analysis jobs are stored for <b>4 weeks</b> and are then <b>deleted</b>. Make sure to <b>download</b> your results!</p></li>
              </ul>
              <p class="lh-base">If you want to <b>bypass</b> these restrictions, you can run <a href="https://mmzdouc.github.io/fermo_docs/home/gui.installation/" target="_blank"><b>FERMO offline</b></a> or use the <a href="https://mmzdouc.github.io/fermo_docs/home/core.installation/" target="_blank"><b>fermo_core command line tool</b></a>.</p>
            </div>
          </div>
      </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="border p-4 my-2">
          <div style="color: red" class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Error during input validation</h3></div>
            </div>
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto">
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
               </ul>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
    {% if jobload %}
      <form method="post" action="{{ url_for('routes.start_analysis') }}" enctype="multipart/form-data">
    {% else %}
      <form method="post" action="{{ url_for('routes.load_settings', job_id=job_id) }}" enctype="multipart/form-data">
    {% endif %}
      {{ form.hidden_tag() }}
      {% if jobload %}
        <div class="border p-4 my-2">
          <fieldset id="reloadjob-form">
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h3>Load parameters of previous job</h3></div>
              </div>
            </div>
            <hr>
            <div class="reloadjob-field">
              {{ render_field(form.reload_jobid) }}
              <div class="container-fluid">
              <div class="row">
                <div class="col-auto mx-auto">
                  <button type="submit" class="btn btn-primary">Load Job Parameters</button>
                </div>
              </div>
            </div>
            </div>
          </fieldset>
        </div>
      {% endif %}
      <div class="border p-4 my-2">
        <fieldset id="peaktable-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Peaktable* {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#molecular-feature-peaktable") }}</h3></div>
            </div>
          </div>
          <hr>
          <div class="peaktable-field d-block">
            {{ render_field(form.peaktable_file) }}
            {{ render_field(form.peaktable_format) }}
            {{ render_field(form.peaktable_polarity) }}
            {{ render_field(form.peaktable_ppm) }}
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Adduct Annotation Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.adduct/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.peaktable_adduct_toggle) }}</div>
                <div class="col-auto" style="visibility:hidden"><button class="btn btn-primary btn-sm" type="button">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Feature Filter Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/filter.feature/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.peaktable_filter_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.peaktable-filter')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="peaktable-filter d-none">
              {{ render_field(form.peaktable_filter_height_lower) }}
              {{ render_field(form.peaktable_filter_height_upper) }}
              {{ render_field(form.peaktable_filter_area_lower) }}
              {{ render_field(form.peaktable_filter_area_upper) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="msms-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>MS/MS {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#msms-spectrum-information") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.msms-field')">Show file parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="msms-field d-none">
            {{ render_field(form.msms_file) }}
            {{ render_field(form.msms_format) }}
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>MS/MS Filter Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/filter.msms/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.msms_filter_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.msms-relintfrom')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="msms-relintfrom d-none">
              {{ render_field(form.msms_rel_int_from) }}
            </div>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Fragment Annotation Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.fragment/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.msms_fragment_toggle) }}</div>
                <div class="col-auto" style="visibility:hidden"><button class="btn btn-primary btn-sm" type="button">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Neutral Loss Annotation Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.loss/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.msms_loss_toggle) }}</div>
                <div class="col-auto" style="visibility:hidden"><button class="btn btn-primary btn-sm" type="button">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Spectral Networking Module: Modified Cosine {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/networking/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.msms_cosine_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.msms-cosine')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="msms-cosine d-none">
              {{ render_field(form.msms_cosine_minfrag) }}
              {{ render_field(form.msms_cosine_tolerance) }}
              {{ render_field(form.msms_cosine_score) }}
              {{ render_field(form.msms_cosine_links) }}
            </div>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Spectral Networking Module: MS2DeepScore {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/networking/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.msms_deepscore_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.msms-deepscore')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="msms-deepscore d-none">
              {{ render_field(form.msms_deepscore_minfrag) }}
              {{ render_field(form.msms_deepscore_score) }}
              {{ render_field(form.msms_deepscore_links) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="group-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Group Metadata {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#group-metadata") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.group-field')">Show file parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="group-field d-none">
            {{ render_field(form.group_file) }}
            {{ render_field(form.group_format) }}
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Blank Assignment Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/metadata.blank/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.group_blank_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.group-blank')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="group-blank d-none">
              {{ render_field(form.group_blank_factor) }}
              {{ render_field(form.group_blank_algorithm) }}
              {{ render_field(form.group_blank_value) }}
            </div>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Group Factor Assignment Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/metadata.group_fold/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.group_factor_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.group-factor')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="group-factor d-none">
              {{ render_field(form.group_factor_algorithm) }}
              {{ render_field(form.group_factor_value) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="phenotype-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Phenotype Data {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#phenotype-bioactivity-data") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.phenotype-field')">Show file parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="phenotype-field d-none">
            {{ render_field(form.phenotype_file) }}
            {{ render_field(form.phenotype_format) }}
            <div class="phenotype-qualitative d-none">
              <div class="container-fluid">
                <div class="row my-2 d-flex align-items-center">
                  <div class="col-auto"><h4>Qualitative {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/phenotype.qualitative/") }}</h4></div>
                </div>
              </div>
              <hr>
              {{ render_field(form.phenotype_qualit_factor) }}
              {{ render_field(form.phenotype_qualit_algorithm) }}
              {{ render_field(form.phenotype_qualit_value) }}
            </div>
            <div class="phenotype-quantitative-perc d-none">
              <div class="container-fluid">
                <div class="row my-2 d-flex align-items-center">
                  <div class="col-auto"><h4>Quantitative-Percentage {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/phenotype.quant-percent/") }}</h4></div>
                </div>
              </div>
              <hr>
              {{ render_field(form.phenotype_quant_average_perc) }}
              {{ render_field(form.phenotype_quant_value_perc) }}
              {{ render_field(form.phenotype_quant_algorithm_perc) }}
              {{ render_field(form.phenotype_quant_p_val_perc) }}
              {{ render_field(form.phenotype_quant_coeff_perc) }}
            </div>
            <div class="phenotype-quantitative-conc d-none">
              <div class="container-fluid">
                <div class="row my-2 d-flex align-items-center">
                  <div class="col-auto"><h4>Quantitative-Concentration {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/phenotype.quant-concentr/") }}</h4></div>
                </div>
              </div>
              <hr>
              {{ render_field(form.phenotype_quant_average_conc) }}
              {{ render_field(form.phenotype_quant_value_conc) }}
              {{ render_field(form.phenotype_quant_algorithm_conc) }}
              {{ render_field(form.phenotype_quant_p_val_conc) }}
              {{ render_field(form.phenotype_quant_coeff_conc) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="library-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>Spectral Library {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#spectral-library") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.library-field')">Show file parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="library-field d-none">
            {{ render_field(form.library_file) }}
            {{ render_field(form.library_format) }}
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Modified Cosine Module{{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.userlib/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.library_cosine_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.library-cosine')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="library-cosine d-none">
              {{ render_field(form.library_cosine_tolerance) }}
              {{ render_field(form.library_cosine_matches) }}
              {{ render_field(form.library_cosine_score) }}
              {{ render_field(form.library_cosine_mzdiff) }}
            </div>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>MS2DeepScore Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.userlib/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.library_deepscore_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.library-deepscore')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="library-deepscore d-none">
              {{ render_field(form.library_deepscore_score) }}
              {{ render_field(form.library_deepscore_mzdiff) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="ms2query-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>MS2Query Annotation {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#ms2query-results-file") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.ms2query-field')">Show parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="ms2query-field d-none">
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>MS2Query De Novo Calculation Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.ms2query/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.ms2query_toggle) }}</div>
                <div class="col-auto" style="visibility:hidden"><button class="btn btn-primary btn-sm" type="button">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Load MS2Query Results {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.ms2query/") }}</h4></div>
              </div>
            </div>
            <hr>
            {{ render_field(form.ms2query_file) }}
            {{ render_field(form.ms2query_score) }}
          </div>
        </fieldset>
      </div>
      <div class="border p-4 my-2">
        <fieldset id="askcb-form">
          <div class="container-fluid">
            <div class="row my-2 d-flex align-items-center">
              <div class="col-auto"><h3>antiSMASH Job Integration {{ render_help("https://mmzdouc.github.io/fermo_docs/home/input_output/#antismash-results") }}</h3></div>
              <div class="col-auto ms-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.askcb-field')">Show parameters</button></div>
            </div>
          </div>
          <hr>
          <div class="askcb-field d-none">
            {{ render_field(form.askcb_jobid) }}
            {{ render_field(form.askcb_score) }}
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>Modified Cosine Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.as_kcb/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.askcb_cosine_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.askcb-cosine')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="askcb-cosine d-none">
              {{ render_field(form.askcb_cosine_tolerance) }}
              {{ render_field(form.askcb_cosine_matches) }}
              {{ render_field(form.askcb_cosine_score) }}
              {{ render_field(form.askcb_cosine_mzdiff) }}
            </div>
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h4>MS2DeepScore Module {{ render_help("https://mmzdouc.github.io/fermo_docs/modules/annotation.as_kcb/") }}</h4></div>
                <div class="col-auto ms-auto">{{ render_activate_toggle(form.askcb_deepscore_toggle) }}</div>
                <div class="col-auto"><button class="btn btn-primary btn-sm" type="button" onclick="toggleDisplay('.askcb-deepscore')">Show module settings</button></div>
              </div>
            </div>
            <hr>
            <div class="askcb-deepscore d-none">
              {{ render_field(form.askcb_deepscore_score) }}
              {{ render_field(form.askcb_deepscore_mzdiff) }}
            </div>
          </div>
        </fieldset>
      </div>
      {% if online %}
        <div class="border p-4 my-2">
          <fieldset id="notification-form">
            <div class="container-fluid">
              <div class="row my-2 d-flex align-items-center">
                <div class="col-auto"><h3>Notification settings</h3></div>
              </div>
            </div>
            <hr>
            <div class="notification-field">
              {{ render_field(form.email) }}
            </div>
          </fieldset>
        </div>
      {% endif %}
      <fieldset class="p-4 my-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-auto mx-auto">
              <button type="submit" class="btn btn-primary">Start Analysis</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}