{% extends "layout.html" %}
{% block title %}Flask-FERMO{% endblock %}
{% block content %} 
<main id=dashboardPage class="container-fluid flex-grow-1">
    <div class="row gx-2 mb-2 mt-1">
        <div class="col col-3">
            <div class="card">
                sample table <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, dignissimos officia vero excepturi, officiis enim, accusantium laudantium iusto asperiores aut quidem. Architecto hic magnam eaque nisi eos fugiat, natus qui molestiae, omnis, repellendus sit velit iure quidem aspernatur. Fuga a consequatur, quo repellendus hic suscipit debitis eos consectetur facere iste.
            </div>
        </div>
        <div class="col col-9">
            <div class="card">
                dashboard
            </div>
        </div>
    </div>
    <div class="row gx-2 mb-2 mt-1">
        <div class="col col-3">
            <div class="card">
                filters <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, dignissimos officia vero excepturi, officiis enim, accusantium laudantium iusto asperiores aut quidem. Architecto hic magnam eaque nisi eos fugiat, natus qui molestiae, omnis, repellendus sit velit iure quidem aspernatur. Fuga a consequatur, quo repellendus hic suscipit debitis eos consectetur facere iste.
            </div>
        </div>
        <div class="col col-4">
            <div class="card">
                cytoscape
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                sample chromatograms
            </div>
        </div>
        <div class="col col-3">
            <div class="card">
                feature table
            </div>
        </div>
    </div>
</main>
{% endblock %}
