{% extends "layout.html" %}
{% block title %}Flask-FERMO{% endblock %}

{% block content %} 
    <div class="row">
        <div class="col col-3">
            sample table
        </div>
        <div class="col col-9">
            dashboard
        </div>
    </div>
    <div class="row">
        <div class="col col-3">
            filters
        </div>
        <div class="col col-4">
            cytoscape
        </div>
        <div class="col col-2">
            sample chromatograms
        </div>
        <div class="col col-3">
            feature table
        </div>
    </div>
{% endblock %}
