{% extends "layout.html" %}
{% block title %}Flask-FERMO{% endblock %}
{% block content %}
<main id="landingPage" class="container-fluid">
    <div class="row mb-3">
        <h1 class="text-center my-3 fw-bold"> FERMO: Streamlined Molecular Feature Prioritization</h1>
        <div class="col">
            <div class="text-start mx-1">
                <p>
                    FERMO is an app for the processing, analysis, and prioritization of molecules from complex <strong>LC-MS/MS</strong> data.
                </p>
                <p>
                    FERMO integrates <strong>LC-MS/MS data, quantitative biological data,</strong> and <strong>group metadata</strong> in a combined analysis platform.
                    Samples and molecular features are scored for their putative novelty, chemical diversity, and associatedness to quantitative biological data.
                    This allows for pragmatic prioritization of molecular features and samples for further investigation.
                </p>
                <p>
                    FERMO can be used in different modes, which can be accessed by clicking the buttons on the bottom of the page.
                    <br> More information on FERMO can be found in the <a href="https://github.com/mmzdouc/FERMO/"><strong>README</strong></a>
                    or in the <a href="https://github.com/mmzdouc/FERMO/wiki/"><strong>FERMO Wiki</strong></a>.
                </p>
            </div>
        </div>
        <div class="col col-md-12 col-lg-5 d-flex flex-column justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='images/app-landing-workflow.svg') }}" 
                    alt="FERMO Workflow" 
                    class="img-fluid"
                    width="700"
                    style="min-width: 500;">
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col ">
            <h2><strong>Processing mode</strong></h2>
            <div class=" mt-auto mb-3 mx-sm-auto mx-md-3">
                <img src="{{ url_for('static', filename='images/icon-peaktable-processing.svg') }}"
                    height="70">
            </div>
            <div>
                <p> Standard peak table processing mode.
                    <br><br>
                    This mode requires a <strong>molecular features peak table</strong> and <strong>MS/MS data</strong> in the <strong>MZmine3</strong> format.
                    Optionally, users can also provide files containing <strong>grouping metadata, quantitative biological data</strong>,
                    and a <strong> spectral library</strong> for annotation purposes.
                </p>
            </div>
        </div>
        <div class="col ">
            <h2 class=><strong>Loading mode</strong></h2>
            <div class="mt-auto mb-3">
                <img src="{{ url_for('static', filename='images/icon-loading-processing.svg') }}"
                    height="70">
            </div>
            <div class=>
                <p> Session file loading mode.
                    <br><br>
                    This mode requires a previously created <strong>FERMO session file</strong> in the <strong>json format</strong>.
                    This can be either created by running data in the peak table processing (standard) mode, or by obtaining a session file from others.
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center mb-2">
        <div class="col ">
            <a href="{{url_for('views.processing')}}" class="btn btn-primary">Processing mode</a>
        </div>
        <div class="col">
            <a href="{{url_for('views.loading')}}" class="btn btn-primary">Loading mode</a>
        </div>
    </div>
</main>
{% endblock %}
