<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FERMO{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="d-flex flex-column vh-100">
  {% block header%}
  <header>
    <nav class="navbar navbar-dark bg-primary p-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='/images/Fermo_logo.svg') }}" alt="FERMO logo" width="150" height="40" class="d-inline-block align-text-bottom">
          {{version}}
        </a>
        <span class="text-white ">Developed by Mitja M. Zdouc, PhD et al.</span>
      </div>
    </nav>
  </header>
  {% endblock %}

  
  {% block content %}
    <main>
      The content was not populated
    </main>
  {% endblock %}


  {% block footer %} 
  <footer class="footer mt-auto">
    <div class="divider py-1 bg-primary"></div>
    <div class="container-fluid">
      <div class="col">
        <a href="https://www.wur.nl/en/research-results/chair-groups/plant-sciences/bioinformatics/people.htm">
          <img src="{{ url_for('static', filename='images/WUR_logo.png') }}" 
              alt="WUR Logo" 
              height="70" 
              class="d-inline-block"/></a>
        <a href="https://marblesproject.eu/">
          <img src="{{ url_for('static', filename='images/Marbles_logo.svg') }}" 
              alt="Marbles Logo" 
              height="70" 
              class="d-inline-block me-3"/></a>
        <a href="https://vdhooftcompmet.github.io/">
          <img src="{{ url_for('static', filename='images/CompMetab_logo.jpeg') }}" 
              alt="Computational Metabolomics logo" 
              height="70"
              class="d-inline-block"/></a>
      </div>
    </div>
  </footer>
  {% endblock %}

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% endblock %}

</body>
</html>
