{% extends "layout.html" %}
{% block title %}Flask-FERMO{% endblock %}
{% block content %}
<main id=loadingPage class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <div class="text-content">
                <h2 class="text-center mt-2 mx-2 fw-bold">Loading mode (Restart&nbsp;Session)</h2>
                <p> 
                    On this page, you can load <strong>FERMO session files</strong> in the <strong>.json-format</strong>.
                    Reloading is very fast, since time-consuming computation steps are omitted.
                    However, the parameters set during the previous
                    computation cannot be changed anymore.
                </p>
                <p>
                    To upload a <strong>FERMO session file</strong>,
                    click the button with the name
                    <strong>'Upload FERMO Session File'</strong> on the left side
                    of the page. A message will appear to inform you
                    about the outcome of data loading.
                </p>
                <p>
                    If successful, session file metadata will be shown
                    in the table on the right side of the window,
                    including the time, date, and version of FERMO
                    during creation, the names of the files used
                    for processing, and the used parameter settings.
                </p>
                <p>
                    After loading your data, click the button 'Start FERMO Dashboard' to go to the dashboard view.
                </p>
            </div>
            <div class="container-fluid " id="loading-button">
                <hr/>
                <form id="loadingFile" method="post" enctype="multipart/form-data">
                    <div class=" mb-1 col-xl-8">
                        <label for="sessionFile" class="form-label">Load FERMO session File (*.json)</label>
                        <input class="form-control" type="file" id="sessionFile" name="sessionFile" onchange="this.form.submit();">
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.startswith('❗') %}
                                <p class="text-warning">
                                    {% print(message) %}
                                </p>
                                {% else %}
                                <p class="text-danger">
                                    {% print(message) %}
                                </p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
        <div class="col mt-3 ms-3 me-5">
            <div class="text-center">
                {% block table %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col" class="col col-5">Attribute</th>
                          <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="text-start">
                    {% for row in table %}
                        <tr>
                            {% for cell in row %}
                                {% if cell == '-----' %}
                                    <td class='px-0 py-0'> <hr> </td>
                                {% else %}
                                    <td class="px-3 py-1"> {{ cell }} </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-2">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button 
                class="btn btn-primary btn-label" 
                type="submit"
                form="loadingFile"
                name="Start_FERMO_Dashboard"
                value="Start_dashboard">
                    Start FERMO Dashboard
                </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}
