{% extends "loading.html" %}
{% block table %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col" class="col col-5">Attribute</th>
              <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="text-start">
        {% for row in table %}
            <tr>
                {% for cell in row %}
                    {% if cell == '-----' %}
                        <td class='px-0 py-0'> <hr> </td>
                    {% else %}
                        <td class="px-3 py-1"> {{ cell }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}