{% extends "layout.html" %}
{% block title %}Flask-FERMO{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="text-content ms-2">
                <h2 class="text-center mt-2 mx-2 fw-bold">Processing mode (peaktable&nbsp;processing)</h2>
                <p>
                    On this page, you can process your data with FERMO. The minimum requirements are:
                    <ul>
                        <li>a <strong>peak table</strong> containing general data on feature
                            (in the <strong>'_quant_full.scv'</strong> format created by </li>
                        <li>a <strong>.mgf-file</strong> containing <strong>MS²</strong> data (created together with peak table by <strong>MZmine3</strong>) </li>
                    </ul>
                </p>
                <p>
                    Optionally, you can provide:
                    <ul>
                        <li>data on samples (as .csv-file)</li>
                        <li>group metadata of samples (as .csv-file)</li>
                        <li>a spectral library (as .mgf-file)</li>
                    </ul>
                </p>
                <p>
                    On the left side of the page, you can <strong>load input files</strong> into FERMO. <br>
                    On the right, you can <strong>adjust processing parameters</strong>.
                    <br><br>
                    <strong>Attention:</strong> if you want to have your features annotated,
                    switch <strong>MS2Query</strong> to <strong>ON</strong>. This will increase calculation time.
                    <br><br>
                    You can find more information on <a href="https://github.com/mmzdouc/FERMO/wiki/Input-data-formats" target="_blank">input data formats</a>
                    and <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page" target="_blank"> parameter settings</a> in the FERMO Wiki.
                    <br><br>
                    You can start the analysis by clicking the <strong>'Start FERMO'</strong> button at the bottom of the page.
                </p>
            </div>
            <div class="container-fluid " id="input_buttons">
                <hr/>
                <div class="d-grid gap-2 ms-0 my-2">
                    <button class="btn btn-primary btn-label col-md-6"
                        type="button"
                        title="Reads a MZmine3-style peak table with the '_quant_full.csv'-suffix (exported in the FULL/ALL mode). For more information on the format, see the documentation.">
                        Load peaktable (*_quant_full.csv)
                    </button>
                    <button class="btn btn-primary btn-label col-md-6"
                            type="button"
                            title="Reads a MZmine3 style .mgf-file containing tandem mass (MS/MS) spectra, accompanying the peak table. Generated through MZmine3 export. For more information on the format, see the documentation.">
                            Load the MS/MS file (*.mgf)
                    </button>
                    <div>
                        <label for="quant-data-format-selector" class="form-label">Specify format of quantitative biological data:</label>
                        <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                            target="_blank"
                            title="Accepts two formats: concentration and percentage (positive numbers only). For concentrations, the lowest value will be considered the highest activity. For percentage, the highest value will be considered the highest activity. Click for more information.">
                            <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                        </a>
                        <div class="col-md-6">
                            <select class="form-select" aria-label="Default select example" id="quant-data-format-selector">
                                <option selected hidden>Select...</option>
                                <option value="1">Concentration-like (i.e. lowest value = highest activity)</option>
                                <option value="2">Percentage-like (i.e. highest value = highest activity)</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-label col-md-6"
                            type="button"
                            title="Quantitative biological data file in the .csv format. For more information on the format, see the documentation.">
                            Load quantitative biological data (*.csv)
                    </button>
                    <button class="btn btn-primary btn-label col-md-6"
                            type="button"
                            title="Metadata annotation file in .csv format. For more information on the format, see the documentation.">
                            Load group metadata table (*.csv)
                    </button>
                    <button class="btn btn-primary btn-label col-md-6"
                            type="button"
                            title="Reads a user-provided spectral library in the .mgf-format. For more information on the format, see the documentation.">
                            Load spectral library (*.mgf)
                    </button>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 mt-5">
            <h4 class="fw-bold mt-2 mb-3">General parameters</h4>
            <form>
                <label for="mass-deviation" class="form-label">Mass deviation: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="Estimated mass deviation of your data in ppm. Used as precision threshold during different calculation steps (e.g. ion species calculation). For more information, click this info-button.">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="mass-deviation" min="0" step="1" value="20">
                </div>

                <label for="minimum-fragments">Min fragments per MS² spectrum: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="Quality control parameter. MS² spectra that do not exceed the minimum number of fragments are discarded and the feature is considered MS¹ only. Set this parameter to '0' if all spectra should be retained. For more information, click this info-button.">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="minimum-fragments" min="0" step="1" value="8">
                </div>

                <label for="quant-data-factor">QuantData factor: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="Only used if quantitative biological data was provided. If a feature was detected in samples with and without associated biological measurement, the fold difference between the lowest feature intensity from the sample with the lowest measurement and the highest feature intensity across inactive samples must be higher than the QuantData factor to still consider the feature associated to the measurement. For more information, click this info-button.">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="quant-data-factor" min="0" step="1" value="10">
                </div>

                <label for="blank-factor">Blank factor: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="Only used if group metadata was provided. If a feature was detected in both samples and blanks, the fold difference between the average intensity across samples and the average intensity across blanks must be higher than the blank factor to not consider the feature as blank-associated. For more information, click this info-button.">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="blank-factor" min="0" step="1" value="10">
                </div>

                <label for="intensity-filter">Relative intensity filter: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                target="_blank"
                title="Filter to remove features with relative intensity outside of the selected range from the analysis. This can be used to reduce low-intensity features, or to remove all-dominating features, such as solvent peaks. For more information, click this info-button.">
                <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <!-- placeholder because the one with two handles and proper styling will take more time -->
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="range" class="form-range" min="0" max="1" step="0.01" id="intensity-filter">
                </div>
            </form>
            <h4 class="fw-bold mt-2 mb-3">Networking and annotation parameters</h4>
            <form>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="MS2Query-switch">
                    <label class="form-check-label" for="MS2Query-switch">Enable MS2Query</label>
                    <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                    target="_blank"
                    title="Toggle to enable annotation of blank-associated features by MS2Query. This can give additional information, but also leads to an increase in computation time, since there are more features to process.">
                    <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                    </a>
                </div>
                <label for="MS2Query-filter">MS2Query relative intensity filter: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                target="_blank"
                title="Filter to restrict MS2Query annotation to a certain relative intensity range. This can be used to reduce calculation time by omitting low relative intensity features. For more information, click this info-button.">
                <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <!-- placeholder because the one with two handles and proper styling will take more time -->
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="range" class="form-range" min="0" max="1" step="0.01" id="MS2Query-filter">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="MS2Query-blank-annotation">
                    <label class="form-check-label" for="MS2Query-blank-annotation">Enable MS2Query annotation of features from blank sample</label>
                    <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                    target="_blank"
                    title="Toggle to switch on annotation of blank-associated features by MS2Query. This can give additional information, but also leads to an increase in computation time, since there are more features to process.">
                    <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                    </a>
                </div>
                <div class="my-3">
                    <div class="">
                        Spectral similarity networking algorithm:
                        <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                        target="_blank"
                        title="Toggle to switch between different spectral similarity calculation algorithms. Modified cosineis used most often. MS2DeepScore is a deep learningbased algorithm. For more information, click this info-button.">
                        <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                        </a>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Modified Cosine</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">MS2DeepScore</label>
                    </div>
                </div>

                <label for="fragment-similarity" class="form-label">Fragment similarity tolerance: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="fragment-similarity" min="0" step="0.01" value="0.1">
                </div>

                <label for="spectrum-similarity" class="form-label">Spectrum similarity score cutoff: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="spectrum-similarity" min="0" step="0.01" value="0.8">
                </div>

                <label for="max-spectral-links" class="form-label">Maximum spectral links: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="max-spectral-links" min="0" max="10" step="1" value="10">
                </div>

                <label for="min-matched-peaks" class="form-label">Minimum matched peaks: </label>
                <a href="https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page"
                   target="_blank"
                   title="">
                   <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
                </a>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <input type="number" class="form-control" id="min-matched-peaks" min="0" step="1" value="8">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col my-2">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary btn-label" type="button">Start FERMO</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.css') }}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}
