{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="mx-4">
        <div class="container-fluid">
            <div class="row my-4 d-flex align-items-center">
                <div class="col-auto"><h1 class="fw-semibold lh-2">Contact</h1></div>
            </div>
            <p class="lead mb-3">Contact us in case of questions, for more information on FERMO, or if you want to report a bug.</p>
      </div>
    </div>
    <div class="mx-4">
        <div class="container-fluid">
            <section class="row my-4 d-flex">
                <div class="col-auto">
                    <h2 class="fw-semibold lh-2">Report a bug</h2>
                    <p class="lead my-4">
                        If you encounter a bug while using <i>FERMO</i>, please open an <a target="_blank" href="https://github.com/mmzdouc/FERMO/issues">Issue on GitHub</a>.
                    </p>
                </div>
            </section>
            <section class="row my-4 d-flex">
                <div class="col-auto">
                    <h2 class="fw-semibold lh-2">Contact address</h2>
                    <p class="lead my-4"><a href="mailto:mitja.zdouc@wur.nl">Mitja M. Zdouc</a></p>
                    <p class="lead">Bioinformatics Group, Wageningen University & Research, Droevendaalsesteeg 1, 6708PB Wageningen, the Netherlands</p>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}