{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Dashboard {% endblock %}</h1></span>
    <div class="content">
        <h2>This is our not-yet responsive dashboard. More to come</h2>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control code-box" style="height: 400px; overflow-y: scroll;" readonly>
                        {% if data.stats_analysis %}
                            {% for entry in data.stats_analysis %}
                                {{ entry}}: {{ data.stats_analysis[entry] }}
                            {% endfor %}
                        {% else %}
                            <p>No log entries available.</p>
                        {% endif %}
                    </textarea>
                </div>
            </div>
         </div>
    </div>
{% endblock %}