{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 pe-md-0 pe-sm-3">
                <div class="dropzone">
                    <div class="accordion accordion-item" id="sample">
                        <h2 class="accordion-header" id="sampleTableHeader">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#sampleTable"
                                    aria-expanded="true"
                                    aria-controls="sampleTable">
                            General information
                            </button>
                        </h2>
                        <div id="sampleTable"
                             class="accordion-collapse collapse show"
                             aria-labelledby="sampleTableHeader">
                            <div class="accordion-body overflow-auto">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        {% for key in data.stats_analysis %}
                                            <tr>
                                                <td>{{ key }}</td>
                                                <td>{{ data.stats_analysis[key] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropzone">
                    <div class="accordion accordion-item" id="sampleInfo">
                        <h2 class="accordion-header" id="sampleInfoHeader">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#sampleInfoTable"
                                    aria-expanded="false"
                                    aria-controls="sampleInfoTable">
                                Sample overview
                            </button>
                        </h2>
                        <div id="sampleInfoTable"
                             class="accordion-collapse collapse"
                             aria-labelledby="sampleInfoHeader">
                            <div class="accordion-body overflow-auto">
                                <table id="sampleInfoTables" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            {% for header_value in data.stats_samples_dyn[0] %}
                                                <th style="text-align: center;">{{ header_value }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for filename in data.stats_samples_dyn %}
                                            <tr class="select-sample"
                                                data-sample-name="{{ filename['Sample name'] }}"
                                                style="cursor: pointer;">
                                                {% for key, value in filename.items() %}
                                                    <td style="text-align: center;">{{ value }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropzone">
                    <div class="accordion accordion-item" id="feature">
                        <h2 class="accordion-header" id="featureTableHeader">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#featureTable"
                                    aria-expanded="false"
                                    aria-controls="featureTable">
                                Molecular feature info
                            </button>
                        </h2>
                        <div id="featureTable"
                            class="accordion-collapse collapse"
                            aria-labelledby="featureTableHeader">
                            <div class="accordion-body overflow-auto">
                                <div class="accordion-subheader accordion-item" id="genFeature">
                                    <h2 class="accordion-header" id="featureTableGeneral">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#featureGeneral"
                                                aria-expanded="false"
                                                aria-controls="featureTable">
                                            General feature info
                                        </button>
                                    </h2>
                                    <div id="featureGeneral"
                                         class="accordion-collapse collapse show"
                                         aria-labelledby="featureTableGeneral">
                                        <div class="accordion-body overflow-auto">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>Feature ID</td>
                                                        <td id="featureIdCell"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Precursor m/z</td>
                                                        <td id="precMzCell"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Retention time (min)</td>
                                                        <td id="retTimeCell"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Feature intensity (relative)</td>
                                                        <td id="relIntCell">Click on any feature in the main chromatogram overview</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Feature intensity (absolute)</td>
                                                        <td id="absIntCell"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Feature novelty score</td>
                                                        <td id="NovScore"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Feature blank associated</td>
                                                        <td id="BlankAs"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-subheader accordion-item" id="annotationFeature">
                                    <h2 class="accordion-header" id="featureTableAnnotation">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#featureAnnotation"
                                                aria-expanded="false"
                                                aria-controls="featureTable">
                                            Feature annotation
                                        </button>
                                    </h2>
                                    <div id="featureAnnotation"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="featureTableGeneral">
                                        <div class="accordion-body overflow-auto">
                                            <p id="feature-annotation">Click on any feature in the main chromatogram overview.</p>
                                            <table id="matchTable" class="table table-hover fixed-width-table" style="display: none;"></table>
                                            <table id="phenotypeTable" class="table table-hover fixed-width-table" style="display: none;"></table>
                                            <table id="adductTable" class="table table-hover fixed-width-table" style="display: none;"></table>
                                            <table id="fragmentTable" class="table table-hover fixed-width-table" style="display: none;"></table>
                                            <table id="lossesTable" class="table table-hover fixed-width-table" style="display: none;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-subheader accordion-item" id="groupFeature">
                                    <h2 class="accordion-header" id="featureTableGroups">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#featureGroups"
                                                aria-expanded="false"
                                                aria-controls="featureTable">
                                            Feature group info
                                        </button>
                                    </h2>
                                    <div id="featureGroups"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="featureTableGeneral">
                                        <div class="accordion-body overflow-auto">
                                            <p id="feature-general-info">Click on any feature in the main chromatogram overview</p>
                                            <div id="heatmap-container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-subheader accordion-item" id="sampleFeature">
                                    <h2 class="accordion-header" id="featureTableSamples">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#featureSamples"
                                                aria-expanded="false"
                                                aria-controls="featureTable">
                                            Feature info across samples
                                        </button>
                                    </h2>
                                    <div id="featureSamples"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="featureTableSample">
                                        <div class="accordion-body overflow-auto">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Sample</th>
                                                        <th>Intensity</th>
                                                        <th>Area</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="sampleCell" style="text-align: left;">
                                                    <tr>
                                                        <td>Click on any feature in the main chromatogram overview</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropzone">
                    <div class="accordion accordion-item" id="filter">
                        <h2 class="accordion-header" id="filtersHeader">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#filters"
                                    aria-expanded="false"
                                    aria-controls="filters">
                                Filters
                            </button>
                        </h2>
                        <div id="filters"
                             class="accordion-collapse collapse"
                             aria-labelledby="filtersHeader">
                            <div class="accordion-body overflow-auto">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="slidecontainer">
                                                <label class="form-label">Novelty score</label>
                                                <div class="multirange">
                                                    <div class="track"></div>
                                                    <input type="range"
                                                           min="0.0" max="1.0" value="0.0" step="0.02"
                                                           class="slider" id="noveltyRange1">
                                                    <input type="range"
                                                           min="0.0" max="1.0" value="1.0" step="0.02"
                                                           class="slider" id="noveltyRange2">
                                                </div>
                                                <div class="range-inputs">
                                                    <div class="form-outline">
                                                        <input type="text" id="noveltyRange1Input"
                                                               min="0.0" max="1.0" value="0.0" step="0.02"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                    <div class="form-outline">
                                                        <input type="text" id="noveltyRange2Input"
                                                               min="0.0" max="1.0" value="1.0" step="0.02"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slidecontainer">
                                                 <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="showPhenotypeFeatures">
                                                    <label class="form-check-label" for="showPhenotypeFeatures">
                                                        Show features with phenotype data
                                                    </label>
                                                </div>
                                                <div class="multirange">
                                                    <div class="track"></div>
                                                    <input type="range"
                                                           min="0.0" max="1.0" value="0.0" step="0.02"
                                                           class="slider" id="phenotypeRange1">
                                                    <input type="range"
                                                           min="0.0" max="1.0" value="1.0" step="0.02"
                                                           class="slider" id="phenotypeRange2">
                                                </div>
                                                <div class="range-inputs">
                                                    <div class="form-outline">
                                                        <input type="text" id="phenotypeRange1Input"
                                                               min="0.0" max="1.0" value="0.0" step="0.02"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                    <div class="form-outline">
                                                        <input type="text" id="phenotypeRange2Input"
                                                               min="0.0" max="1.0" value="1.0" step="0.02"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                             <div class="slidecontainer">
                                                <label class="form-label">Feature in number of samples</label>
                                                <div class="multirange">
                                                    <div class="track"></div>
                                                    <input type="range"
                                                           min="1.0" max="5.0" value="1.0" step="1.0"
                                                           class="slider" id="numberRange1">
                                                    <input type="range"
                                                           min="1.0" max="5.0" value="5.0" step="1.0"
                                                           class="slider" id="numberRange2">
                                                </div>
                                                <div class="range-inputs">
                                                    <div class="form-outline">
                                                        <input type="text" id="numberRange1Input"
                                                               min="1.0" max="5.0" value="1.0" step="1.0"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                    <div class="form-outline">
                                                        <input type="text" id="numberRange2Input"
                                                               min="1.0" max="5.0" value="5.0" step="1.0"
                                                               class="form-control form-icon-trailing" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 ps-md-0 pe-sm-3">
                <div class="dropzone">
                    <div class="accordion accordion-item" id="chromatogram">
                        <h2 class="accordion-header" id="ChromatogramHeader">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#ChromatogramBody"
                                    aria-expanded="true"
                                    aria-controls="ChromatogramBody">
                                Main Chromatogram
                            </button>
                        </h2>
                        <div id="ChromatogramBody"
                             class="accordion-collapse collapse show"
                             aria-labelledby="sampleTableHeader">
                            <div class="accordion-body overflow-auto">
                                <div class="chromDiv row-md-12">
                                    <h6 id="activeSample" class="fw-bold" style="font-size: 14px;">
                                        Sample: {{ data.stats_chromatogram | first }}
                                    </h6>
                                    <p>Click any sample in the 'Sample Overview' table to visualize its chromatogram.</p>
                                    <div id="mainChromatogram"
                                         data-stats-chromatogram='{{ data.stats_chromatogram | tojson | safe }}'>
                                    </div>
                                    <div id="featureChromatogram"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 pe-md-0 ps-md-0 pe-sm-3">
                            <div class="dropzone">
                                <div class="accordion accordion-item" id="cyto">
                                    <h2 class="accordion-header" id="cytoscapeHeader">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#cytoscape"
                                                aria-expanded="true" aria-controls="Cytoscape">
                                            Spectral similarity networking
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" id="cytoscape" aria-labelledby="CytoscapeHeader">
                                        <div class="accordion-body overflow-auto">
                                            <p id="activeFeature">Select any feature in the main chromatogram to visualize its network.</p>

                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-8">
                                                        <div id="cy-container" style="display: none;">
                                                            <div id="cy" data-stats-network='{{ data.stats_network | tojson | safe }}'></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                                        <div id="legend" style="display: none;">
                                                            <div class="legend-item">
                                                                <div class="legend-dot" style="background-color: #f4aaa7; border: 2px solid #960303;"></div>
                                                                <p class="legend-text">Selected feature</p>
                                                            </div>
                                                            <div class="legend-item">
                                                                <div class="legend-dot" style="background-color: #c6dcfb; border: 2px solid #227aa0;"></div>
                                                                <p class="legend-text">Related feature</p>
                                                            </div>
                                                            <div class="legend-item">
                                                                <div class="legend-dot" style="background-color: #fff; border: 2px solid black;"></div>
                                                                <p class="legend-text">Unique to sample</p>
                                                            </div>
                                                            <br>
                                                            <label for="networkSelect" class="form-label">Select network type</label>
                                                            <select class="form-select" id="networkSelect">
                                                                  <option value="modified_cosine" selected>Modified Cosine</option>
                                                                  <option value="ms2deepscore">MS2DeepScore</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 pe-md-0 ps-md-0 pe-sm-3">
                            <div class="dropzone">
                                <div class="accordion accordion-item" id="dashboardSettings">
                                    <h2 class="accordion-header" id="settingsHeader">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#settings"
                                                aria-expanded="false"
                                                aria-controls="settings">
                                            Dashboard settings
                                        </button>
                                    </h2>
                                    <div id="settings"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="filtersHeader">
                                        <div class="accordion-body overflow-auto">
                                            <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="allowDragAndDrop">
                                              <label class="form-check-label" for="allowDragAndDrop">
                                                  Drag and drop the dashboard elements to reorganise the layout.
                                              </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="dropzone"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="dropzone"></div>
        </div>
    </div>
</div>



<script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.18.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
<script>
    var statsChromatogram = {{ data.stats_chromatogram | tojson | safe }};
</script>

{% endblock %}