{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 pe-md-0 pe-sm-3">
        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="sample">
                <h2 class="accordion-header" id="sampleTableHeader">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#sampleTable"
                            aria-expanded="true"
                            aria-controls="sampleTable">
                    General information
                    </button>
                </h2>
                <div id="sampleTable"
                     class="accordion-collapse collapse show"
                     aria-labelledby="sampleTableHeader">
                    <div class="accordion-body overflow-auto">
                        <table class="table table-striped table-hover">
                            <tbody>
                                {% for key in data.stats_analysis %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ data.stats_analysis[key] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="sampleInfo">
                <h2 class="accordion-header" id="sampleInfoHeader">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#sampleInfoTable"
                            aria-expanded="false"
                            aria-controls="sampleInfoTable">
                        Sample overview
                    </button>
                </h2>
                <div id="sampleInfoTable"
                     class="accordion-collapse collapse"
                     aria-labelledby="sampleInfoHeader">
                    <div class="accordion-body overflow-auto">
                        <table id="sampleInfoTables" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    {% for header_value in data.stats_samples_dyn[0] %}
                                        <th style="text-align: center;">{{ header_value }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for filename in data.stats_samples_dyn %}
                                    <tr class="select-sample"
                                        data-sample-name="{{ filename['Sample name'] }}"
                                        style="cursor: pointer;">
                                        {% for key, value in filename.items() %}
                                            <td style="text-align: center;">{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="feature">
                <h2 class="accordion-header" id="featureTableHeader">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#featureTable"
                            aria-expanded="false"
                            aria-controls="featureTable">
                        Molecular feature info
                    </button>
                </h2>
                <div id="featureTable"
                    class="accordion-collapse collapse"
                    aria-labelledby="featureTableHeader">
                    <div class="accordion-body overflow-auto">
                        <div class="accordion accordion-item" draggable="false" id="genFeature">
                            <h2 class="accordion-header" id="featureTableGeneral">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#featureGeneral"
                                        aria-expanded="false"
                                        aria-controls="featureTable">
                                    General feature info
                                </button>
                            </h2>
                            <div id="featureGeneral"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="featureTableGeneral">
                                <div class="accordion-body overflow-auto">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Feature ID</td>
                                                <td id="featureIdCell"></td>
                                            </tr>
                                            <tr>
                                                <td>Precursor m/z</td>
                                                <td id="precMzCell"></td>
                                            </tr>
                                            <tr>
                                                <td>Retention time (min)</td>
                                                <td id="retTimeCell"></td>
                                            </tr>
                                            <tr>
                                                <td>Feature intensity (relative)</td>
                                                <td id="relIntCell">Click on any feature in the main chromatogram overview</td>
                                            </tr>
                                            <tr>
                                                <td>Feature intensity (absolute)</td>
                                                <td id="absIntCell"></td>
                                            </tr>
                                            <tr>
                                                <td>Feature novelty score</td>
                                                <td id="NovScore"></td>
                                            </tr>
                                            <tr>
                                                <td>Feature blank associated</td>
                                                <td id="BlankAs"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-item" draggable="false" id="annotationFeature">
                            <h2 class="accordion-header" id="featureTableAnnotation">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#featureAnnotation"
                                        aria-expanded="false"
                                        aria-controls="featureTable">
                                    Feature annotation
                                </button>
                            </h2>
                            <div id="featureAnnotation"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="featureTableGeneral">
                                <div class="accordion-body overflow-auto">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left;">Matches</td>
                                                <td id="annotationCell" style="text-align: left;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-item" draggable="false" id="groupFeature">
                            <h2 class="accordion-header" id="featureTableGroups">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#featureGroups"
                                        aria-expanded="false"
                                        aria-controls="featureTable">
                                    Feature group info
                                </button>
                            </h2>
                            <div id="featureGroups"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="featureTableGeneral">
                                <div class="accordion-body overflow-auto">
                                    <p id="feature-general-info">Click on any feature in the main chromatogram overview</p>
                                    <div id="heatmap-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-item" draggable="false" id="sampleFeature">
                            <h2 class="accordion-header" id="featureTableSamples">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#featureSamples"
                                        aria-expanded="false"
                                        aria-controls="featureTable">
                                    Feature info across samples
                                </button>
                            </h2>
                            <div id="featureSamples"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="featureTableSample">
                                <div class="accordion-body overflow-auto">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sample</th>
                                                <th>Intensity</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sampleCell" style="text-align: left;">
                                            <tr>
                                                <td>Click on any feature in the main chromatogram overview</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-item" draggable="false" id="quantFeature">
                            <h2 class="accordion-header" id="quantTableGroups">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#featureQuant"
                                        aria-expanded="false"
                                        aria-controls="featureTable">
                                    Quant-data information
                                </button>
                            </h2>
                            <div id="featureQuant"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="featureTableGeneral">
                                <div class="accordion-body overflow-auto">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left;">QuantData-associated</td>
                                                <td id="quantAsCell" style="text-align: left;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;">QuantData-trend</td>
                                                <td id="quantTrendCell" style="text-align: left;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;">QuantData per sample</td>
                                                <td id="quantGroupCell" style="text-align: left;">Click on any feature in the main chromatogram overview</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;">Original QuantData</td>
                                                <td id="quantCell" style="text-align: left;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;">Putative adducts</td>
                                                <td id="AdductsCell" style="text-align: left;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="filter">
                <h2 class="accordion-header" id="filtersHeader">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#filters"
                            aria-expanded="false"
                            aria-controls="filters">
                        Filters
                    </button>
                </h2>
                <div id="filters"
                     class="accordion-collapse collapse"
                     aria-labelledby="filtersHeader">
                    <div class="accordion-body overflow-auto">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 ps-md-0 pe-sm-3">
        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="chromatogram">
                <h2 class="accordion-header" id="ChromatogramHeader">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#ChromatogramBody"
                            aria-expanded="true"
                            aria-controls="ChromatogramBody">
                        Main Chromatogram
                    </button>
                </h2>
                <div id="ChromatogramBody"
                     class="accordion-collapse collapse show"
                     aria-labelledby="sampleTableHeader">
                    <div class="accordion-body overflow-auto">
                        <div class="chromDiv row-md-12">
                            <h6 id="activeSample" class="fw-bold" style="font-size: 14px;">
                                Sample: {{ data.stats_chromatogram | first }}
                            </h6>
                            <p>Click any sample in the 'Sample Overview' table to visualize its chromatogram.</p>
                            <div id="mainChromatogram"
                                 data-stats-chromatogram='{{ data.stats_chromatogram | tojson | safe }}'>
                            </div>
                            <div id="featureChromatogram"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="dropzone">
            <div class="accordion accordion-item" draggable="true" id="cyto">
                <h2 class="accordion-header" id="cytoscapeHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cytoscape" aria-expanded="true" aria-controls="Cytoscape">
                        Cytoscape
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="cytoscape" aria-labelledby="CytoscapeHeader">
                    <div class="accordion-body overflow-auto">
                        <h6 class="fw-bold"> Cytoscape view - spectral similarity networking</h6>
                        {% if cytoscape_message %}
                            <p class="text-danger">{{ cytoscape_message }}</p>
                        {% endif %}
                        <div id="cy"></div>
                        <div class="d-inline-flex mt-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dropzone"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dropzone"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dropzone"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="dropzone"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="dropzone"></div>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chromatogram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.18.2.min.js') }}"></script>
<script>
    var statsChromatogram = {{ data.stats_chromatogram | tojson | safe }};
</script>

{% endblock %}