<!-- Create tooltip on questionmark image -->
{% macro tooltip(title, link) %}
    <a href="{{ link }}"
    target="_blank"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-custom-class="custom-tooltip"
    data-bs-title="{{ title }}">
    <img src="{{ url_for('static', filename='images/question-circle-fill.SVG')}}" width="40" alt="?" style="color: 17,103,137;">
    </a>
{% endmacro %}


{% macro dashboard_tooltip(title)%}
    {{ tooltip(title, 'https://github.com/mmzdouc/FERMO/wiki/Scores-page') }}
{% endmacro %}


{% macro processing_tooltip(title)%}
    {{ tooltip(title, 'https://github.com/mmzdouc/FERMO/wiki/Pages-Processing-page') }}
{% endmacro %}


<!-- Create HTML code for table body

    Parameters:
        tablename: list
            must have the same name as passed to the template in views.py
        class: string 
            classnames, used to style data rows
-->
{% macro display_tablebody(tablename, class='p-1') %}
<tbody class="text-start">
    {% if tablename[0] is integer %} <!-- if true, tablename is a simple list
        of integers instead of a list of lists (like in the general sample list
        on the dashboard page) -->
        <tr>
            {% for cell in tablename %}
                <td class= "{{ class }}"> {{ cell|safe }} </td>
            {% endfor %}
        </tr>
    {% else %}
        {% for row in tablename %}
            <tr>
                {% for cell in row %}
                    {% if cell == '-----' %} <!-- Check for separators-->
                        <td class='p-0'> <hr> </td>
                    {% else %}
                        <td class="{{ class }}"> {{ cell|safe }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</tbody>
{% endmacro %}


<!-- Create HTML code for general tables

    Parameters:
        tablename: list
            must have the same name as passed to the template in views.py
        columns: list
            column names for the head of the table
-->
{% macro display_table(tablename, columns, ID = '') %}
<table class="table table-striped" id="{{ ID }}">
    <thead class="align-middle">
        <tr>
            {% for column in columns %}
                <th scope="col" class="py-0">{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    {{ display_tablebody(tablename) }}
</table>
{% endmacro %}


<!-- Create HTML code for detail tables (on loading page and dashboard page(feature overview))

    Parameters:
        tablename: list
            must have the same name as passed to the template in views.py
        class: string
            used to style data rows
-->
{% macro display_detail_table(tablename, class='p-1', col1='Attribute') %}
<table class="table table-striped">
    <thead class="lh-sm">
        <tr>
          <th scope="col" class="col col-5"> {{ col1 }} </th>
          <th scope="col">Description</th>
        </tr>
    </thead>
    {{ display_tablebody(tablename, class) }}
</table>
{% endmacro %}


<!-- Create HTML code for legend rectangle

    Parameters:
        background_color: string
        border_color: string
        text: string
-->
{% macro legend(background_color='', border_color='', text='', class='') %}
<div class = "{{ class }}">
    <span class="legend_rect"
    style="background-color: {{ background_color }};
    border-color: {{ border_color }}"></span>
    <span> {{ text }} </span>
</div>
{% endmacro %}
