/* General */
:root, [data-bs-theme="light"] {
    --bs-primary-rgb: 17,103,137;
    }

body {
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

/* Footer style elements */
footer {
  margin-top: auto;
  font-size: 13px;
}

/* This will remove underline from all links in the footer */
a:not(.footer a) {
  text-decoration: none;
}
/* Limit the width of the images for screen size scaling */
.custom-footer-image {
  width:  100%;
  max-width:  190px;
  height: auto; /* Maintain aspect ratio */
}

/* input forms */
.btn-primary {
    --bs-btn-bg: #116789;
    --bs-btn-border-color: #116789;
    --bs-btn-hover-bg: #0e526e;
    --bs-btn-hover-border-color: #0e526e;
    font-weight: bold;
}

input[type="file"]::file-selector-button {
    background-color: #116789;
    color: white;
}

/* tables */
thead {
    background-color: #116789 !important;
    color: white !important;
    font-size: 13px;
    line-height: 1.2;
}

td, th {
    font-size: 12px;
    overflow-wrap: break-word;
    text-align: left;
}

th {
    background-color: blue;
    border-top: none;
    vertical-align: middle;
}

table th:first-child{
  border-radius: 5px 0px 0px 0px;
}

table th:last-child{
  border-radius: 0px 5px 0px 0px;
}

#sampleTableGeneral{
    text-align: left;
}

.chromDiv{
    font-size: 13px;
    padding: 0.6rem;
}

.custom-row-padding {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    vertical-align: middle;
}

/* Fixate the width of the feature annotation tables in the dashboard */
.fixed-width-table td:first-child {
    width: 60%;
}
.fixed-width-table td:last-child {
    width: 20%;
}

.fixed-width-table-extra td:first-child {
    width: 200px;
}
.fixed-width-table-extra td:last-child {
    width: 400px;
}

/* Drop zone layout. Active layout in dashboard.js */
.dropzone {
  padding: 0.6rem;
  border-radius: 1.4rem;
}

.dropzone-dragging {
    background-color: #e8e8e8;
}

/* dashboard page accordion elements */
.accordion {
    --bs-accordion-btn-icon: url("/static/images/collapse_icon_white.svg");
    --bs-accordion-btn-active-icon: url("/static/images/collapse_icon_white.svg");
    --bs-accordion-btn-padding-x: 0.5rem;
    --bs-accordion-btn-padding-y: 0.5rem;
    --bs-accordion-body-padding-x: 0.5rem;
    --bs-accordion-body-padding-y: 0.5rem;
    --bs-accordion-active-color: #fff;
    --bs-accordion-bg: #116789;
    --bs-accordion-active-bg: #116789;
}

.accordion-body {
    background: #fff;
    max-height: 62vh;
}

.accordion-button:focus {
    border-color: rgba(17,103,137, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(17,103,137, 0.8);
    outline: 0 none;
}

.accordion-button {
    color: #fff;
}

/* Add these styles to ensure corners are consistent */
.accordion-subheader .accordion-button {
    font-size: 0.875rem !important;
    padding: 0.25rem 0.5rem !important;
}

.accordion-button-info {
    color: #000;
    background-color: transparent;
    border: none;
}

.accordion-button-info::after {
    order: -1;
    background-image: url("/static/images/collapse_icon_info.svg");
    background-color: none;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
}

#cy {
  height: 200px;
}

.legend-dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid red;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-text {
    margin: 0;
    margin-left: 6px;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
}

#mainChromatogram .modebar-container {
    margin-top: -30px;
}

#featureChromatogram .modebar-container {
    margin-top: 100px;
}

#heatmap-container .modebar-container {
    margin-top: -15px;
}

.form-select {
    font-size: 14px;
}
