/*
GENERAL
*/

* {
    font-family: Veranda, sans-serif;
    margin-top: 0px;
}

.info_dot {
    height: 19px;
    width: 19px;
    background-color: #116789;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: white;
}

.info_dot_tooltip {
    background-color: #116789;
    margin: auto;
    border-radius: 3%;
    color: white;
    display: inline-block;
    width: 10%;
    padding: 10px;
}

.legend {
     overflow:hidden;
}

.legend_rect {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
    border-style: solid;
    border-width: 4px;
}

.button_general_class {
    background-color: #116789;
    text-align: center;
    color: white;
    border-style: none;
    font-weight: bold; 
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

.button_small_class {
    background-color: #116789;
    text-align: center;
    color: white;
    border-style: none;
    font-weight: bold; 
    padding: 5px;
    width: 30%;
    border-radius: 4px;
}

.button_dashboard_class {
    background-color: #116789;
    text-align: center;
    color: white;
    border-style: none;
    font-weight: bold; 
    padding: 5px;
    width: 100%;
    border-radius: 4px;
}


/*
ROWS - GENERAL
*/

#header_row {
    height: 8vh;
}

#footer_row {
    height: 5vh;
}

/*
COLUMNS - GENERAL
*/

#header_col {
    height: 8vh;
    background-color: #116789;
}

#footer_col {
    border-top: 5px solid #116789;
    height: 5vh;
}

/*
ROWS - DASHBOARD
*/


#dashboard_row_1 {
    height: 40vh;
}

#dashboard_row_2 {
    height: 40vh;
}


/*
COLUMNS - GENERAL
*/


#dashboard_row_1_col_1 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#dashboard_row_1_col_2 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}


#dashboard_row_2_col_1 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#dashboard_row_2_col_2 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#dashboard_row_2_col_3 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#dashboard_row_2_col_4 {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}


/*
ROWS - LANDING
*/

#landing_row_1 {
    height: 35vh;
}

#landing_row_2  {
    height: 45vh;
}



/*
COLUMNS - LANDING
*/

#landing_row_1_col_1  {
    background-color: white;
    height: 35vh;
    overflow: scroll;
}

#landing_row_1_col_2  {
    background-color: white;
    height: 35vh;
    overflow: scroll;
}

#landing_row_2_col_1  {
    background-color: white;
    height: 45vh;
    overflow: scroll;
}

#landing_row_2_col_2  {
    background-color: white;
    height: 45vh;
    overflow: scroll;
}

/*
ROWS - PROCESSING
*/


#processing_row_1 {
    height: 70vh;
}

#processing_row_2 {
    height: 10vh;
}


/*
COLUMNS - PROCESSING
*/

#processing_row_1_col_1  {
    background-color: white;
    height: 70vh;
    overflow: scroll;
}

#processing_row_1_col_2  {
    background-color: white;
    height: 70vh;
    overflow: scroll;
}

#processing_row_2_col_1  {
    background-color: white;
    height: 10vh;
    overflow: scroll;
}

/*
ROWS - peakpicking
*/

#peakpicking_row_1 {
    height: 5vh;
}

#peakpicking_row_2 {
    height: 20vh;
}

#peakpicking_row_3 {
    height: 50vh;
}

#peakpicking_row_4 {
    height: 5vh;
}


/*
COLUMNS - peakpicking
*/

#peakpicking_row_1_col_1  {
    background-color: white;
    height: 5vh;
    overflow: scroll;
}

#peakpicking_row_2_col_1  {
    background-color: white;
    height: 20vh;
    overflow: scroll;
}

#peakpicking_row_3_col_1  {
    background-color: white;
    height: 50vh;
    overflow: scroll;
}

#peakpicking_row_3_col_2  {
    background-color: white;
    height: 50vh;
    overflow: scroll;
}

#peakpicking_row_4_col_1  {
    background-color: white;
    height: 5vh;
    overflow: scroll;
}

/*
ROWS - LOADING
*/

#loading_row_1 {
    height: 70vh;
}

#loading_row_2 {
    height: 10vh;
}


/*
COLUMNS - LOADING
*/

#loading_row_1_col_1  {
    background-color: white;
    height: 70vh;
    overflow: scroll;
}

#loading_row_1_col_2  {
    background-color: white;
    height: 70vh;
    overflow: scroll;
}

#loading_row_2_col_1  {
    background-color: white;
    height: 10vh;
    overflow: scroll;
}
