/*
GENERAL
*/

* {
    font-family: Veranda, sans-serif;
    margin-top: 0px;
}

.info_dot {
    height: 25px;
    width: 25px;
    background-color: #116789;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: white;
}

.info_dot_tooltip {
    background-color: #116789;
    margin: auto;
    border-radius: 3%;
    color: white;
    display: inline-block;
    width: 10%;
    padding: 10px;
}


/*
ROWS - GENERAL
*/

#header_row {
    height: 8vh;
}

#top_row {
    height: 40vh;
}

#bottom_row {
    height: 40vh;
}

#footer_row {
    height: 5vh;
}



/*
ROWS - LANDING
*/

#landing_row_1 {
    height: 15vh;
}

#landing_row_2  {
    height: 30vh;
}

#landing_row_3  {
    height: 30vh;
}

#landing_row_4  {
    height: 5vh;
}

/*
COLUMNS - GENERAL
*/

#header_col {
    height: 8vh;
    background-color: #116789;
}

#top_left_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#top_right_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#bottom_first_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#bottom_second_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#bottom_third_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#bottom_fourth_col {
    background-color: white;
    height: 40vh;
    overflow: scroll;
}

#footer_col {
    border-top: 5px solid #116789;
    height: 5vh;
}

/*
COLUMNS - LANDING
*/

#landing_row_1_col_1  {
    background-color: white;
    height: 15vh;
    overflow: scroll;
}

#landing_row_1_col_2  {
    background-color: white;
    height: 15vh;
    overflow: scroll;
}

#landing_row_2_col_1  {
    background-color: white;
    height: 30vh;
    overflow: scroll;
}

#landing_row_2_col_2  {
    background-color: white;
    height: 30vh;
    overflow: scroll;
}

#landing_row_2_col_3  {
    background-color: white;
    height: 30vh;
    overflow: scroll;
}

#landing_row_3_col_1  {
    background-color: white;
    height: 30vh;
    overflow: scroll;
}

#landing_row_3_col_2  {
    background-color: white;
    height: 30vh;
    overflow: scroll;
}

#landing_row_4_col_1  {
    background-color: white;
    height: 5vh;
    overflow: scroll;
}

