/* General */

body {
    font-family: Verdana, sans-serif;
    font-size: 20px;
}
:root, [data-bs-theme="light"] {
--bs-primary-rgb: 17,103,137;
}

.btn-primary {--bs-btn-bg: #116789;
    --bs-btn-border-color: #116789;
    --bs-btn-hover-bg: #0e526e;
    --bs-btn-hover-border-color: #0e526e;
}


/* Specifics */
#loading-button{
    margin-top: 100px;
}

#workflow{
    float: right;
}